
li {
    cursor: pointer;
}

.card .card-header-primary .card-icon, .card .card-header-primary .card-text, .card .card-header-primary:not(.card-header-icon):not(.card-header-text), .card.bg-primary, .card.card-rotate.bg-primary .front, .card.card-rotate.bg-primary .back{
    background: linear-gradient(60deg, #476cbc, #2479aa) !important;
}


.text-primary{
    color: #212529 !important;
}


.active a {
    background-color: #476cbc !important;
}

a.list-group-item.list-group-item-action.active {
    background-color: #476cbc !important;
}


.btn-primary {
    background-color: #476cbc !important;
}

table { table-layout: fixed; }
table th, table td { overflow: hidden; }

.material-icons{
    font-size: 25px !important;
}

